[PS_HKEY_CLASSES\CLSID\{627FC98D-9AC3-4A11-9856-BAA7144E3CCB}]
default=Pervasive.MicroKernel.StringBundle.en_US

[PS_HKEY_CLASSES\CLSID\{627FC98D-9AC3-4A11-9856-BAA7144E3CCB}\InprocServer32]
default=$PSDIR/libmkderb.so

[PS_HKEY_CLASSES\CLSID\{627FC98D-9AC3-4A11-9856-BAA7144E3CCB}\ProgID]
default=Pervasive.MicroKernel.StringBundle.en_US

[PS_HKEY_CLASSES\CLSID\{9B4C2F32-E068-4FB7-B9C6-D80992F39569}]
default=Pervasive.MicroKernel.StringBundle.ja_JP

[PS_HKEY_CLASSES\CLSID\{9B4C2F32-E068-4FB7-B9C6-D80992F39569}\InprocServer32]
default=$PSDIR/libmkderb.so

[PS_HKEY_CLASSES\CLSID\{9B4C2F32-E068-4FB7-B9C6-D80992F39569}\ProgID]
default=Pervasive.MicroKernel.StringBundle.ja_JP

[PS_HKEY_CLASSES\Pervasive.MicroKernel.StringBundle.en_US]
default=Pervasive Services MicroKernel Resource Bundle - en_US

[PS_HKEY_CLASSES\Pervasive.MicroKernel.StringBundle.en_US\CLSID]
default={627FC98D-9AC3-4A11-9856-BAA7144E3CCB}

[PS_HKEY_CLASSES\Pervasive.MicroKernel.StringBundle.ja_JP]
default=Pervasive Services MicroKernel Resource Bundle - ja_JP

[PS_HKEY_CLASSES\Pervasive.MicroKernel.StringBundle.ja_JP\CLSID]
default={9B4C2F32-E068-4FB7-B9C6-D80992F39569}

[PS_HKEY_CONFIG_64\Software\Actian\Zen\Database Names]
DBNamesDirectory=.

[PS_HKEY_CONFIG_64\Software\Actian\Zen\MicroKernel Library]
Background Threads=1
Balanced Trees=NO
Cache Size=32768
File Growth Factor=15
File Version=0950
Index Level Merging=NO
Limit Segment Size to 2Gb=YES
Max Pending IO=1024
Merge Sort Buffer Size=0
Phys Page Size=512
Preallocate=NO
System Data=YES
Systrans Bundle Limit=65535
Systrans Time Limit=2000
Trace=NO
Trace Databuf Len=128
Trace File=MKDE.TRA
Trace Keybuf Len=128
Trace Ops=ALL
Transaction Durability=NO
Transaction Log Buffer Size=6058
Transaction Log Directory=.
Transaction Log File Size=12116
Transaction Logging=NO
Wait-lock Timeout=30

